#initial-screen {
  z-index: 100;
}

.game-screen {
  width: 1200px;
  height: 520px;

  background-image: url(../images/bg-main.jpg);
  background-size: cover;
  background-position: bottom;

  opacity: 0.5;
}

#armadillo {
  background-image: url(../images/armadillog.gif);
}

.armadillo {
  background-image: url(../images/armadillo.svg);
  background-repeat: no-repeat;
  background-size: cover;

  width: 120px;
  height: 80px;

  left: 0px;
}

.object {
  bottom: 0px;
}

@keyframes armadillo-animation {
  from {
    left: 0px;
  }
  to {
    left: 1080px;
  }
}

@media screen and (max-width: 1024px) {
  .game-screen {
    width: 600px;
    height: 300px;
  }

  .armadilloMRU {
    width: 80px;
    height: 55px;
  }

  @keyframes armadillo-animation {
    from {
      left: 0px;
    }
    to {
      left: calc(600px - 80px);
    }
  }
}

@media screen and (max-width: 1024px) {
  .game-screen {
    width: 600px;
    height: 200px;
  }

  .armadillo {
    width: 80px;
    height: 55px;

    font-size: 10px;
  }

  @keyframes armadillo-animation {
    from {
      left: 0px;
    }
    to {
      left: calc(600px - 80px);
    }
  }
}
