#different-pos {
  width: 129px;
}

#end-position {
  margin-left: 65px;
  width: 500px;
}

.fox {
  background-image: url(../images/fox_a.png);
  background-repeat: no-repeat;
  background-size: cover;

  width: 120px;
  height: 115px;

  left: 0px;
  bottom: 0px;
}

.foxIsMoving {
  background-image: url(../images/foxg.gif);
}

#footer {
  width: 1200px;
  position: relative;
  left: -50px;
}

@keyframes footer-animated {
  from {
    left: -50px;
  }
  to {
    left: 0px;
  }
}

@keyframes armadillo-animation-before {
  from {
    left: 0px;
  }
  to {
    left: 600px;
  }
}

@keyframes fox-animation-before {
  from {
    left: -300px;
  }
  to {
    left: 400px;
  }
}

@keyframes armadillo-animation-after {
  from {
    left: 600px;
  }
  to {
    left: 1200px;
  }
}

@keyframes fox-animation-after {
  from {
    left: 400px;
  }
  to {
    left: 1080px;
  }
}

@keyframes fox-animation-win {
  from {
    left: 400px;
  }
  to {
    left: 800px;
  }
}

@keyframes armadillo-animation-lose {
  from {
    left: 600px;
  }
  to {
    left: 830px;
  }
}

.object {
  bottom: 0px;
}

.object-2 {
  left: -300px;
  bottom: 0px;
}

@media screen and (max-width: 1024px) {
  .fox {
    width: 80px;
    height: 76px;

    font-size: 10px;
  }

  #footer {
    width: 600px;
  }

  @keyframes armadillo-animation-before {
    from {
      left: 0px;
    }
    to {
      left: calc(300px - 80px);
    }
  }

  @keyframes fox-animation-before {
    from {
      left: -300px;
    }
    to {
      left: 100px;
    }
  }

  @keyframes armadillo-animation-after {
    from {
      left: calc(300px - 80px);
    }
    to {
      left: 600px;
    }
  }

  @keyframes fox-animation-after {
    from {
      left: 100px;
    }
    to {
      left: 520px;
    }
  }

  @keyframes fox-animation-win {
    from {
      left: 120px;
    }
    to {
      left: 480px;
    }
  }

  @keyframes armadillo-animation-lose {
    from {
      left: calc(300px - 80px);
    }
    to {
      left: 500px;
    }
  }
}

@media screen and (max-width: 1024px) {
  #different-pos {
    width: 38px;
  }

  #end-position {
    margin-left: 65px;
    width: 300px;
  }
}
