#initial-screen {
  z-index: 100;
}

.game-screen {
  width: 1200px;
  height: 520px;

  background-image: url(../images/bg-main.jpg);
  background-size: cover;
  background-position: bottom;

  opacity: 0.5;
}

#armadilloMRU {
  background-image: url(../images/armadillog.gif);
}

#armadilloMRUV {
  bottom: 25%;
  background-image: url(../images/armadillog.gif);
}

.armadilloMRU {
  background-image: url(../images/armadillo.svg);
  background-repeat: no-repeat;
  background-size: cover;

  width: 120px;
  height: 80px;

  bottom: 0px;
  left: 0px;
}

.armadilloMRUV {
  background-image: url(../images/armadillo.svg);
  background-repeat: no-repeat;
  background-size: cover;

  width: 120px;
  height: 80px;

  left: 0px;
}

.object {
  bottom: 0px;
}

.object-2 {
  bottom: 25%;
}

@keyframes armadillo-animation {
  from {
    left: 0px;
  }
  to {
    left: 1100px;
  }
}

@media screen and (max-width: 1024px) {
  .game-screen {
    width: 600px;
    height: 300px;
  }

  .armadilloMRU,
  .armadilloMRUV {
    width: 80px;
    height: 55px;
  }

  .object p,
  .object-2 p {
    font-size: 10px;
  }

  @keyframes armadillo-animation {
    from {
      left: 0px;
    }
    to {
      left: calc(600px - 80px);
    }
  }
}
