@import url(bootstrap.css);

#initial-screen {
  z-index: 100;
}

.game-screen {
  background-image: url(../images/bg-main.jpg);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;

  width: 1200px;
  height: 520px;

  position: relative;
  opacity: 0.5;
}

.armadillo {
  color: white;
  background-image: url(../images/armadillo.svg);
  background-repeat: no-repeat;
  background-size: cover;

  width: 120px;
  height: 80px;

  position: absolute;
  bottom: 0px;
  left: 0px;

  transition: left 1s linear;
}

.textWin {
  color: #000;
}

.modal-title {
  color: #000;
}

.fox {
  color: white;
  background-image: url(../images/fox_a.png);
  background-repeat: no-repeat;
  background-size: cover;

  width: 100px;
  height: 100px;

  position: absolute;
  bottom: 0px;
  left: -450px;

  transition: left 1s linear;
}

.progress {
  transition: 1s linear;
}

.isMove {
  background-image: url("../images/armadillog.gif");
}

.foxIsMove {
  background-image: url("../images/foxg.gif");
}

@media screen and (max-width: 1024px) {
  .game-screen {
    min-width: 600px;
    height: 300px;
  }

  .armadillo {
    width: 80px;
    height: 55px;

    font-size: 10px;
  }

  .fox {
    height: 87px;
  }

  @keyframes armadillo-animation {
    from {
      left: 0px;
    }
    to {
      left: calc(600px - 80px);
    }
  }
}
