@import url(bootstrap.css);

#game-container {
  background-image: url(../images/bg_game_three.png);
  background-repeat: no-repeat;
  background-size: cover;

  width: 1200px;
  height: 520px;

  position: relative;
}

.tatu {
  color: white;

  background-image: url(../images/armadillog.gif);
  background-repeat: no-repeat;
  background-size: cover;

  width: 100px;
  height: 100px;

  position: absolute;
  bottom: 0px;
  left: 0px;

  transition: left 1s linear;
}

.raposa {
  color: white;
  background-image: url(../images/fox_a.png);
  background-repeat: no-repeat;
  background-size: cover;

  width: 100px;
  height: 100px;

  position: absolute;
  bottom: 0px;
  left: -450px;

  transition: left 1s linear;
}

.carro {
  color: white;
  background-image: url(../images/car.png);

  width: 100px;
  height: 100px;
}
