@import url(global.css);

#game-container {
  background-image: url(../images/fundo1.png);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;

  width: 1200px;
  height: 520px;

  position: relative;
}

.game-object {
  color: white;
  background-image: url(../images/tatu4.png);
  background-repeat: no-repeat;
  background-size: cover;

  width: 100px;
  height: 100px;

  position: absolute;
  bottom: 0px;
  left: 0px;

  transition: left 1s linear;
}

.game-object2 {
  color: white;
  background-image: url(../images/raposa.png);
  background-repeat: no-repeat;
  background-size: cover;

  width: 100px;
  height: 100px;

  position: absolute;
  bottom: 0px;
  left: -500px;
}

.overlay {
  font-family: "Lucida Console", sans-serif;
}
